*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  background-color: #E5E5E5;
}

.container {
  overflow: hidden;
  padding: 1em;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1440px;
  max-height: 100vH;
  overflow: hidden;
}

.btnBasic {
  background-color: #E4C1AE;
  color: #E5E5E5;
  height: 3em;
  width: 8em;
  border: none;
  border-radius: 32px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.btnBasic:hover {
  cursor: pointer;
  background-color: #cb9e85;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 1em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 3em 1em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.info {
  max-width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #121212;
  margin: 2em auto;
}

.info__text {
  padding: 1em 0;
  text-align: justify;
}

.picture {
  max-width: 505px;
  max-height: 330px;
  margin: 2em auto;
}

.picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .info {
    padding: 2em 0;
  }
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: -150%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: 12em;
  padding: 1em 2em;
  z-index: 2;
  background-color: #E5E5E5;
}

.modal__btnClose {
  width: 2em;
  height: 2em;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: none;
  background-color: #E5E5E5;
  -webkit-transition: -webkit-box-shadow .5s;
  transition: -webkit-box-shadow .5s;
  transition: box-shadow .5s;
  transition: box-shadow .5s, -webkit-box-shadow .5s;
}

.modal__btnClose:hover {
  -webkit-box-shadow: inset 4px 4px 16px -4px #42445a;
  box-shadow: inset 4px 4px 16px -4px #42445a;
  cursor: pointer;
}

.modal__text {
  text-align: justify;
}

.shadow {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.5);
}
/*# sourceMappingURL=main.css.map */